.pane, .view, .content-orbit{
  background: #0d191b;
  font-weight: 200;
  font-size: 16px;
  color: $orbit-color;
}

.form-login{
  .item.item-dark{
    border: none;
    border-radius: 2px;
  }
  .item-input{
    margin-bottom: 10px;
  }

}

.list-orbit{
  margin: 0 25px;
}
.item-orbit{
  background: none;
  border: none;
  padding: 6px 0 5px 0px;
  input{
    border-bottom: 1px solid $orbit-color-dark;
    padding-right: 0px;
    margin-right: 0px;
    color: $orbit-color;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $orbit-color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    $orbit-color;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    $orbit-color;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    $orbit-color;
    }
  }
}

.button-orbit{
  color: $orbit-color;
  border: 1px solid $orbit-color;
  text-transform: uppercase;
  background: rgba($orbit-color-dark, 0.3);
  font-weight: 300;
  text-shadow: 0px 0px 3px black;
}

.button.button-clear.button-orbit-clear{
  color: $orbit-color !important;
  border: none;
}


ion-header-bar,
ion-footer-bar{
  .button.button-clear.button-orbit-clear{
    font-size: 0.9em;
    margin-top: 0px;
  }

  .title{
    color: $orbit-color;
  }
}

.bar-orbit{
  background: rgba($orbit-color-bar, 0.92);
  border-color: $orbit-color-dark;
}

.bar-tchat{
  min-height: 44px;
  height: auto;
}


.header-data-planet{
  border-top: none;
  background: rgba($orbit-color-dark, 0.4);
  border-bottom: 1px solid rgba($orbit-color, 0.2);
  font-size: 0.94em;
  line-height: 13px;
  text-align: center;
}

.help-block{
  display: block;
  &.help-block-error{
    color: $assertive;
  }
}

.menu{
  background: url(../js/Pages/App/Menu/img/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  border-right: 1px solid $orbit-color-dark;

  .scroll-content{
    background: rgba($orbit-color-bar, 0.96);
  }

  .user-profil{
    min-height: 140px;
    padding-top: 15px;
    padding-bottom: 6px;

    background: rgba(5,9,10,0.9);
    background: -moz-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,9,10,0.9)), color-stop(100%, rgba(6,36,36,0.9)));
    background: -webkit-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: -o-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: -ms-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: linear-gradient(135deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05090a', endColorstr='#062424', GradientType=1 );

    .avatar{
      text-align: center;

      img{
        border-radius: 50%;
        border: 1px solid $orbit-color;
        height: 120px;
        width: 120px;
      }

    }

    .username{
      .alliance{
        color: $assertive;
      }
    }

    .grade{
      color: white;
    }
  }

  ion-list{
    .item-orbit{
      padding: 0px;
      .item-content{
        background: rgba(5, 28, 27, 0.4);
        color: $orbit-color;

        border-top: 1px solid rgba($orbit-color-dark, 0.2);
        text-transform: uppercase;
        font-size: 0.72em;
        letter-spacing: 1px;
      }
    }
  }

  ion-footer-bar{
    button {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: rgba(5, 28, 27, 0.4);
      border: 1px solid rgba($orbit-color, 0.1);
      color: $orbit-color;
    }
  }
}

.platform-android {
  .tabs-content {
    @extend .has-tabs-top;
  }
}

.platform-ios {
  .tabs-content {
    @extend .has-tabs;
  }
}

.tabs-royal{

  .tabs{
    border-bottom: 1px solid $orbit-color-dark;
  }

  &.tabs-striped .tab-item.tab-item-active{
    color: $orbit-color;
    border-color: $orbit-color;
  }

  &.tabs-striped .tab-item {
    color: rgba($orbit-color,.4);
    opacity: 1;
  }

  .tabs-top.tabs-striped .tab-item.activated, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.tab-item-active {
    margin-top: 1px;
    border-width: 0 0 2px!important;
    border-style: solid;
    border-color: $orbit-color;
  }
}