.pane, .view, .content-orbit{
  background: lighten(#0d191b, 7);
  font-weight: 200;
  font-size: 16px;
  color: $orbit-color;
}

.scroll-refresher .ionic-refresher-content {
  color: $orbit-color;
  .spinner {
    stroke: #2bede6;
    fill: #2bede6;
  }
}

.form-login{
  .item.item-dark{
    border: none;
    border-radius: 2px;
  }
  .item-input{
    margin-bottom: 10px;
  }

}

.list-orbit{
  margin: 0 25px;
}
.item-orbit{
  background: none;
  border: none;
  padding: 6px 0 5px 0px;
  input{
    border-bottom: 1px solid $orbit-color-dark;
    padding-right: 0px;
    margin-right: 0px;
    color: $orbit-color;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $orbit-color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    $orbit-color;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    $orbit-color;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    $orbit-color;
    }
  }
}

.button-orbit{
  color: $orbit-color;
  border: 1px solid $orbit-color;
  text-transform: uppercase;
  background: rgba($orbit-color-dark, 0.3);
  font-weight: 300;
  text-shadow: 0px 0px 3px black;
}

.button.button-clear.button-orbit-clear{
  color: $orbit-color !important;
  border: none;
}


ion-header-bar,
ion-footer-bar{
  .button.button-clear.button-orbit-clear{
    font-size: 0.9em;
    margin-top: 0px;
  }

  .title{
    color: $orbit-color;
  }
}

.bar-orbit{
  background: rgba($orbit-color-bar, 0.92);
  border-color: $orbit-color-dark;
}

.bar-tchat{
  min-height: 44px;
  height: auto;
}


.header-data-planet{
  border-top: none;
  background: rgba($orbit-color-dark, 0.4);
  border-bottom: 1px solid rgba($orbit-color, 0.2);
  font-size: 0.94em;
  line-height: 13px;
  text-align: center;
}

.help-block{
  display: block;
  &.help-block-error{
    color: $assertive;
  }
}

.menu{
  background: url(../js/Pages/App/Menu/img/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  border-right: 1px solid $orbit-color-dark;

  .list-menu{
    .item-orbited{

      color: rgba($orbit-color, 0.8);
      border-color: rgba($orbit-color, 0.4);
      padding: 8px 42px 8px 10px;
      text-align: right;

      .icon{
        width: 24px;
        height: 24px;
        margin: 6px 0px 0 25px;
      }

    }
  }
  .badge-buble{
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: $assertive;
    color: white;
    display: block;
    border-radius: 50%;

    font-size: 12px;
    position: absolute;
    bottom: 18px;
    right: 18px;
  }


  #changePlanete{
    width: 90%;
    margin: 0 5% 6px 5%;
    padding: 6px;
    background: rgba($orbit-color-dark, 0.4);
    border-color: rgba($orbit-color, 0.4);
    color: rgba($orbit-color, 1);
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;

  }

  .list-ress{
    .item{
      font-size: 0.7em;
    }
    .row-no-padding{
      margin-bottom: 7px;
      &:first-child{
        .item {
          border-bottom: none;
        }
      }
    }
  }


  .block-build-in-progress{
    .item-avatar>img:first-child{
      max-width: 30px;
      max-height: 30px;
      top: 10px;
      left: 6px;
    }
    .item{
      padding: 8px;
      min-height: 32px;
      padding-left: 42px;
      h2 {
        font-size: 0.62em;
      }
      p{
        font-size: 0.6em;
      }
    }
  }


  h3{

    &.no-margin{
      margin-top: 22px;
    }

    color: $orbit-color;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    border-bottom: 1px dashed $orbit-color-dark;
    margin: 0 25px;
    margin-top: 35px;
    margin-bottom: 8px;
    font-size: 0.5em;
    padding-bottom: 4px;
    letter-spacing: 2px;
  }

  .scroll-content{
    background: rgba($orbit-color-bar, 0.96);
  }

  .user-profil{
    min-height: 140px;
    padding-top: 15px;
    padding-bottom: 6px;

    background: rgba(5,9,10,0.9);
    background: -moz-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(5,9,10,0.9)), color-stop(100%, rgba(6,36,36,0.9)));
    background: -webkit-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: -o-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: -ms-linear-gradient(-45deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    background: linear-gradient(135deg, rgba(5,9,10,0.9) 0%, rgba(6,36,36,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05090a', endColorstr='#062424', GradientType=1 );

    .avatar{
      text-align: center;

      img{
        border-radius: 50%;
        border: 1px solid $orbit-color;
        height: 80px;
        width: 80px;
      }

    }

    .username{
      .alliance{
        color: $assertive;
      }
    }

    .grade{
      color: white;
    }
  }

  ion-list{
    .item-orbit{
      padding: 0px;
      .item-content{
        background: rgba(5, 28, 27, 0.4);
        color: $orbit-color;

        border-top: 1px solid rgba($orbit-color, 0.2);
        text-transform: uppercase;
        font-size: 0.72em;
        letter-spacing: 1px;
        //padding: 12px 49px 12px 16px;
      }
    }
  }

  ion-footer-bar{
    button {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: rgba(5, 28, 27, 0.4);
      border: 1px solid rgba($orbit-color, 0.1);
      color: $orbit-color;
    }
  }
}

.platform-android {
  .tabs-content {
    @extend .has-tabs-top;
  }
}

.platform-ios {
  .tabs-content {
    @extend .has-tabs;
  }
}

.line-break{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: pre-line;
}

.tabs-royal{

  .tabs{
    border-bottom: 1px solid $orbit-color-dark;
  }

  &.tabs-standard .tab-item.tab-item-active,
  &.tabs-striped .tab-item.tab-item-active{
    color: $orbit-color;
    border-color: $orbit-color;
    border-bottom: 2px solid;
  }

  &.tabs-standard .tab-item,
  &.tabs-striped .tab-item {
    color: rgba($orbit-color,.4);
    opacity: 1;
  }


  .tabs-top.tabs-standard .tab-item.activated,
  .tabs-top.tabs-standard .tab-item.active,
  .tabs-top.tabs-standard .tab-item.tab-item-active,
  .tabs-top.tabs-striped .tab-item.activated,
  .tabs-top.tabs-striped .tab-item.active,
  .tabs-top.tabs-striped .tab-item.tab-item-active {
    margin-top: 1px;
    border-width: 0 0 2px!important;
    border-style: solid;
    border-color: $orbit-color;
  }
}

.item-orbited{
  input, textarea{
    color: $orbit-color;
  }
  h2{
    color: $orbit-color;
  }
  p{
    color: rgba($orbit-color, 0.4)
  }
  background: rgba($orbit-color-dark, 0.4);
  border-color: rgba($orbit-color, 0.2);
  border-left: none;
  border-right: none;

  textarea{
    margin: 10px 0 0 0;
    padding-right: 24px;
    background: transparent;
    width: 100%;
  }


  &.item-orbited-button{
    background: transparent;
    border-bottom: none;
  }


  .input-label{
    color: white;
    font-size: 0.7em;
  }
}

.popup-container .popup {
  background: $orbit-color-dark;
  box-shadow: 0 0 25px black;
  color: $orbit-color;
  border: 1px solid rgba($orbit-color, 0.2);

  input{
    background: transparent;
    border: 1px solid rgba($orbit-color, 0.2);
    padding: 4px 5px 4px 5px;
    color: $orbit-color;
  }

  .popup-head{
    border-color: rgba($orbit-color, 0.2);
    .popup-title{
      color: $orbit-color;
      text-transform: uppercase;
    }
  }
  .popup-buttons{
    border-top: 1px solid rgba($orbit-color, 0.2);
    padding: 0;
    min-height: 45px;
    .button{
      border-radius: 0px;
      margin-right: 0px;
      line-height: 10px;
      min-height: 10px;
      padding: 5px;

      &.button-assertive{
        background: rgba($assertive, 0.4);
      }
      &.button-positive{
        background: rgba($positive, 0.4);
        border-right: 1px solid rgba($orbit-color, 0.2);
      }
    }
  }
}

.item-sub-menu{
  .item-content{
    padding-left: 36px;
    background: rgba(5,28,27,.9);
    i.fa{
      color: $energized;
    }
  }
}

.social-menu{

  border-top: 1px solid rgba($orbit-color-dark, 0.4);
  .col{
    text-align: center;
    height: 50px;
    line-height: 50px;

    border-right: 1px solid rgba($orbit-color-dark, 0.4);
    background: rgba(5, 28, 27, 0.4);
    color: rgba($orbit-color, 0.8);
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 1px;
    position: relative;

    width: 100%;
    height: 100%;


    .badge-buble{
      width: 16px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      background: $assertive;
      color: white;
      display: block;
      border-radius: 50%;

      font-size: 12px;
      position: absolute;
      bottom: 12px;
      right: 18px;
    }
  }
}

.modal{

  .bar-orbit.bar.bar-header {
    background: red;

    background: lighten(#0d191b, 7);
    font-weight: 200;
    font-size: 14px;
    color: $orbit-color;

    border-bottom: 1px solid lighten(#0d191b, 12);
  }

}