<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-orbit">
            <ion-nav-buttons side="left">
                <button class="button button-clear button-orbit-clear" ng-click="toggleLeftSideMenu()">
                    <i class="ion-navicon-round"></i> Menu
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-clear button-orbit-clear" ng-click="toggleRightSideMenu()">
                    Planète <i class="ion-earth"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="content" animation="slide-left-right">
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>

            <div class="user-profil">

                <div class="avatar">
                    <img ng-src="{{ user.avatar }}" />
                </div>

                <div class="username text-center">
                    {{ user.username }} <span class="alliance" ng-show="user.ally">[{{ user.ally.tag }}]</span>
                </div>

            </div>

            <div class="row row-no-padding social-menu">

                <div class="col" menu-toggle="left" ui-sref="app.account">
                    <i class="ion-ios-person-outline"></i>
                </div>

                <div class="col" menu-toggle="left" ui-sref="app.ally">
                    <i class="ion-ios-color-filter-outline"></i>
                </div>

                <div class="col" menu-toggle="left" ui-sref="app.message">
                    <i class="ion-ios-email-outline"></i><span class="badge-buble">{{ user.unread_message }}</span>
                </div>

                <div class="col" menu-toggle="left" ui-sref="app.tchat">
                    <i class="ion-ios-chatbubble-outline"></i><span class="badge-buble">{{ user.unread_message }}</span>
                </div>

            </div>

            <ion-list>
                <ion-item class="item-orbit" menu-toggle="left" ui-sref="app.map">
                    <i class="fa fa-chevron-right"></i> Capteur
                </ion-item>

                <ion-item class="item-orbit " menu-toggle="left" ui-sref="app.building">
                    <i class="fa fa-chevron-right"></i> Bâtiments
                    <span class="badge-buble" ng-show="user.count_build_in_progress.building">{{ user.count_build_in_progress.building }}</span>
                </ion-item>

                <ion-item class="item-orbit" menu-toggle="left" ui-sref="app.technology">
                    <i class="fa fa-chevron-right"></i> Technologies
                    <span class="badge-buble" ng-show="user.count_build_in_progress.technology">{{ user.count_build_in_progress.technology }}</span>
                </ion-item>

                <ion-item class="item-orbit" menu-toggle="left" ui-sref="app.population">
                    <i class="fa fa-chevron-right"></i> Population
                </ion-item>

                <ion-item class="item-orbit" menu-toggle="left" ui-sref="app.building">
                    <i class="fa fa-chevron-right"></i> Vaisseaux
                </ion-item>

                <ion-item class="item-orbit" menu-toggle="left" ui-sref="app.apparatus">
                    <i class="fa fa-chevron-right"></i> Appareil
                    <span class="badge-buble" ng-show="user.count_build_in_progress.apparatus">{{ user.count_build_in_progress.apparatus }}</span>
                </ion-item>

                <ion-item class="item-orbit" menu-toggle="left" ui-sref="app.empire">
                    <i class="fa fa-chevron-right"></i> Empire
                </ion-item>

            </ion-list>

        </ion-content>

        <ion-footer-bar align-title="left" class="bar-orbit">
            <div class="buttons">
                <button class="button button-logout" menu-toggle="left" ng-click="logout()">
                    <i class="ion-log-out"></i>
                </button>
            </div>
            <div class="buttons pull-right" side="right">
                <button class="button button-logout" menu-toggle="left" ui-sref="app.help">
                    <i class="ion-help"></i>
                </button>
            </div>
        </ion-footer-bar>
    </ion-side-menu>

    <ion-side-menu side="right">
        <ion-content>

            <div class="user-profil">
                <div class="avatar">
                    <img ng-src="{{ user.planet_selected.image }}" />
                </div>

                <div class="username text-center">
                    {{ user.planet_selected.name }}
                </div>

                <p class="grade text-center">
                    [{{ user.planet_selected.pos_x  }}:{{ user.planet_selected.pos_y  }}:{{ user.planet_selected.pos_z  }}]
                </p>

                <h3 class="no-margin"><label for="changePlanete">Changer de planète</label></h3>
                <select id="changePlanete"ng-model="planetSelected" ng-change="changePlanetSelected(planetSelected)"
                        data-ng-options="item as item.name for item in user.planets track by item.id">
                </select>
            </div>

            <div class="list list-menu list-ress">
                <div class="row row-no-padding">
                    <div class="col">
                        <div class="item item-icon-right item-orbited">
                            <img class="icon" src="js/Pages/App/Build/img/icon-metal.png" />
                            {{ numberFormated(user.planet_selected.metal) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="item item-icon-right item-orbited">
                            <img class="icon" src="js/Pages/App/Build/img/icon-cristal.png" />
                            {{ numberFormated(user.planet_selected.crystal) }}
                        </div>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="col">
                        <div class="item item-icon-right item-orbited">
                            <img class="icon" src="js/Pages/App/Build/img/icon-lir.png" />
                            {{ numberFormated(user.planet_selected.lithium) }}
                        </div>
                    </div>
                    <div class="col">

                        <div class="item item-icon-right item-orbited">
                            <img class="icon" src="img/icon-energy.png" />
                            {{ numberFormated(user.planet_selected.energy) }}
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="buildingsInProgress.length > 0" class="block-build-in-progress">
                <h3 class="no-margin">{{ buildingsInProgress.length }} construction(s) en cours</h3>
                <div class="list">

                    <div class="item item-avatar item-orbited" ng-repeat="(key, bip) in buildingsInProgress">
                        <img ng-src="{{ bip.build_planet.build.image }}">
                        <h2>{{ bip.build_planet.build.name }} - Niveau {{ bip.level }}</h2>
                        <p>
                            <timer end-time="bip.end" interval="10000" language="short_fr" >{{yearUnit}}</timer>
                        </p>
                    </div>

                </div>
            </div>

            <div ng-if="technologiesInProgress.length > 0" class="block-build-in-progress">
                <h3 class="no-margin">{{ technologiesInProgress.length }} recherche(s) en cours</h3>
                <div class="list">

                    <div class="item item-avatar item-orbited" ng-repeat="(key, bip) in technologiesInProgress">
                        <img ng-src="{{ bip.build_planet.build.image }}">
                        <h2>{{ bip.build_planet.build.name }} - Niveau {{ bip.level }}</h2>
                        <p>
                            <timer end-time="bip.end" interval="10000" language="short_fr" >{{yearUnit}}</timer>
                        </p>
                    </div>

                </div>
            </div>


        </ion-content>
    </ion-side-menu>

</ion-side-menus>