<ion-view class="page-account" cache-view="false">
    <ion-nav-title>
        Mon compte
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-assertive"><i class="fa fa-pencil"></i> Edit</button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-royal tabs-icon-top">

        <ion-tab title="Mon compte" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
            <ion-nav-view>
                <ion-content class="has-header" overflow-scroll="false">
                    <div class="account-background">

                        <div class="user-profil">

                            <div class="username text-center">
                                {{ user.username }} <span class="alliance" ng-if="user.ally">[{{ user.ally.tag }}]</span>
                            </div>

                            <p class="grade text-center" ng-if="user.level != null">
                                {{ user.level.name }}
                            </p>

                            <div class="rank">
                                <img ng-src="/img/rank/rank_{{user.level.code}}.png" />
                            </div>
                        </div>

                    </div>
                    <div class="description">
                        <div class="avatar">
                            <img ng-src="{{ user.avatar }}"/>
                        </div>

                        <p ng-if="user.description == null">
                            Aucune description.
                        </p>
                        <p ng-if="user.description != null">
                            {{ profil.description }}
                        </p>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>


        <ion-tab title="Mon grade" icon-on="ion-ios-star-half" icon-off="ion-ios-star-outline" on-select="loadTabRank()">
            <ion-nav-view>
                <ion-content class="has-header rank-tab" overflow-scroll="false">

                    <div class="my-rank">

                        <h2>{{ user.level.name }}</h2>
                        <div class="level">Niveau {{ user.level.level }}</div>
                        <div class="rank-level">
                            <img ng-src="/img/rank/layer_{{user.level.code}}.png" />
                        </div>
                        <div class="text-center">
                            Votre expérience: <b>{{ numberFormated(user.exp) }}</b> <br />
                            Exp. prochain niveau: <b>{{ numberFormated(user.level.next.exp) }}</b>
                        </div>

                        <div class="progress-bar">
                            <div class="start-exp">{{ numberFormated(user.level.exp) }} <b>EXP.</b></div>
                            <div class="end-exp">{{ numberFormated(user.level.next.exp) }} <b>EXP.</b></div>
                            <div class="loader" style="width: {{ percentage }}%">
                                <div class="percentage">
                                {{ percentage }} %
                                </div>
                            </div>
                        </div>

                    </div>

                    <h1>Listes des grades</h1>


                    <div class="list">

                        <div class="item item-thumbnail-left item-text-wrap item-orbited" ng-repeat="(key, level) in levels">
                            <img ng-src="/img/rank/layer_{{ level.code }}.png">
                            <h2>{{ level.name }}</h2>
                            <p ng-if="level.next != null">De {{ numberFormated(level.exp) }} point(s) d'expérience à {{ numberFormated(level.next.exp) }} points d'expérience.</p>
                            <p ng-if="level.next == null">A partir de {{ numberFormated(level.exp) }} point(s) d'expérience.</p>
                        </div>
                    </div>

                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Mes amis" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" on-select="loadFriends()">
            <ion-nav-view>
                <ion-content>
                    <div class="list">
                        <div class="item item-avatar item-orbited" ng-repeat="(key, user) in friends" ui-sref="app.profil({id: user.id})">
                            <img ng-src="{{ user.avatar }}">
                            <h2>{{ user.username }}</h2>
                            <p>{{ user.level.name }} - Niveau {{ user.level.level }}</p>
                        </div>


                        <div class="item item-orbited text-center positive" ng-if="friends.length == 0">
                            Aucun ami
                        </div>
                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Mes stats" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse">
        </ion-tab>
    </ion-tabs>
</ion-view>