<ion-view class="page-message" cache-view="false">
    <ion-nav-title>
        Messagerie
    </ion-nav-title>

    <ion-tabs class="tabs-royal tabs-icon-top  tabs-top">

        <ion-tab title="Joueurs" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" on-select="loadMessagePlayers(true)">
            <ion-nav-view>
                <ion-content class="has-header">

                    <ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="doRefresh('players')">
                    </ion-refresher>

                    <div class="list">

                        <a class="item item-avatar item-orbited item-icon-left" ng-repeat="(key, thread) in players" ui-sref="app.message-thread({ threadId: thread.id })">

                            <img ng-src="{{ thread.messages[thread.messages.length - 1].sender.avatar }}">
                            <h2>{{ thread.subject }} - {{ thread.messages[thread.messages.length - 1].sender.username }}</h2>
                            <p>{{ thread.messages[thread.messages.length - 1].created_at | date: 'dd/MM HH:mm' }}</p>

                            <div ng-repeat="(key, metadata) in thread.messages[thread.messages.length - 1].metadata" ng-if="metadata.participant.id == user.id && metadata.is_read == false">
                                <span class="badge badge-positive">Non lu</span>
                            </div>

                        </a>

                        <div class="item item-orbited text-center positive" ng-if="players.length == 0">
                            Aucun message
                        </div>

                    </div>

                </ion-content>
            </ion-nav-view>
        </ion-tab>


        <ion-tab title="Espionnages" icon-on="ion-ios-eye" icon-off="ion-ios-eye-outline" on-select="loadMessageSpy(true)">
            <ion-nav-view>
                <ion-content class="has-header">

                    <ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="doRefresh('spies')">
                    </ion-refresher>

                    <div class="list">

                        <a class="item item-avatar item-orbited item-icon-left" ng-repeat="(key, thread) in spies" ui-sref="app.message-thread({ threadId: thread.id })">

                            <img ng-src="{{ thread.messages[thread.messages.length - 1].sender.avatar }}">
                            <h2>{{ thread.subject }} - {{ thread.messages[thread.messages.length - 1].sender.username }}</h2>
                            <p>{{ thread.messages[thread.messages.length - 1].created_at | date: 'dd/MM HH:mm' }}</p>

                            <div ng-repeat="(key, metadata) in thread.messages[thread.messages.length - 1].metadata" ng-if="metadata.participant.id == user.id && metadata.is_read == false">
                                <span class="badge badge-positive">Non lu</span>
                            </div>

                        </a>

                        <div class="item item-orbited text-center positive" ng-if="spies.length == 0">
                            Aucun message
                        </div>

                    </div>

                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Attaques" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline" on-select="loadMessageReport(true)">
            <ion-nav-view>
                <ion-content class="has-header">


                    <ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="doRefresh('reports')">
                    </ion-refresher>

                    <div class="list">

                        <a class="item item-avatar item-orbited item-icon-left" ng-repeat="(key, thread) in reports" ui-sref="app.message-thread({ threadId: thread.id })">

                            <img ng-src="{{ thread.messages[thread.messages.length - 1].sender.avatar }}">
                            <h2>{{ thread.subject }} - {{ thread.messages[thread.messages.length - 1].sender.username }}</h2>
                            <p>{{ thread.messages[thread.messages.length - 1].created_at | date: 'dd/MM HH:mm' }}</p>

                            <div ng-repeat="(key, metadata) in thread.messages[thread.messages.length - 1].metadata" ng-if="metadata.participant.id == user.id && metadata.is_read == false">
                                <span class="badge badge-positive">Non lu</span>
                            </div>

                        </a>

                        <div class="item item-orbited text-center positive" ng-if="reports.length == 0">
                            Aucun message
                        </div>

                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Systême" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" on-select="loadMessageSystem(true)">
            <ion-nav-view>
                <ion-content class="has-header">


                    <ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="doRefresh('systems')">
                    </ion-refresher>

                    <div class="list">

                        <a class="item item-avatar item-orbited item-icon-left" ng-repeat="(key, thread) in systems" ui-sref="app.message-thread({ threadId: thread.id })">

                            <img ng-src="{{ thread.messages[thread.messages.length - 1].sender.avatar }}">
                            <h2>{{ thread.subject }} - {{ thread.messages[thread.messages.length - 1].sender.username }}</h2>
                            <p>{{ thread.messages[thread.messages.length - 1].created_at | date: 'dd/MM HH:mm' }}</p>

                            <div ng-repeat="(key, metadata) in thread.messages[thread.messages.length - 1].metadata" ng-if="metadata.participant.id == user.id && metadata.is_read == false">
                                <span class="badge badge-positive">Non lu</span>
                            </div>

                        </a>

                        <div class="item item-orbited text-center positive" ng-if="systems.length == 0">
                            Aucun message
                        </div>

                    </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>