<ion-view class="page-tchat page-message" cache-view="false">
    <ion-nav-title>
        Message:: {{ thread.subject }}
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-clear button-positive" ui-sref="app.message">
            <i class="ion-arrow-left-c"></i> Retour
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header padding">
        <div ng-repeat="(key, message) in thread.messages" class="message clearfix" ng-class="message.sender.id == user.id ? 'me' : 'other'">

            <div class="content">
                <div class="avatar">
                    <img ng-src="{{ message.sender.avatar }}" />
                </div>
                <div class="text">
                    {{ message.body }}
                    <div class="date">Le {{ message.created_at | date: 'dd/MM HH:mm' }} par <span class="username">{{ message.sender.username }}</span></div>
                </div>
            </div>

        </div>
    </ion-content>


    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)">
        <ion-footer-bar class="bar-orbit bar-tchat" keyboard-attach>
            <textarea msd-elastic rows="1" ng-model="input.message" value="" placeholder="Votre message" required minlength="1" maxlength="800" msd-elastic></textarea>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>