<ion-view class="page-tchat" cache-view="true">
    <ion-nav-title>
        Communication
    </ion-nav-title>

    <ion-content class="has-header padding" overflow-scroll="true">
        <div ng-repeat="(key, value) in messages" class="message clearfix" ng-class="value.user.id == user.id ? 'me' : 'other'">

            <div class="content">
                <div class="avatar">
                    <img ng-src="{{ value.user.avatar }}" />
                </div>
                <div class="text">
                    {{ value.message }}
                    <div class="date">Le {{ value.date | date: 'dd/MM HH:mm' }} par <span class="username">{{ value.user.username }}</span></div>
                </div>
            </div>

        </div>
    </ion-content>

    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)">
        <ion-footer-bar class="bar-orbit bar-tchat" keyboard-attach>
            <textarea msd-elastic rows="2" ng-model="input.message" value="" placeholder="Votre message" required minlength="1" maxlength="255" msd-elastic></textarea>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>